<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.backend.mapper.MapperInterface">

<insert id = "registerBoard">
INSERT INTO react.userboard
(
    title,
    content,
    reg_User,
    reg_Date
)
VALUES (
    #{title},
    #{content},
    #{reg_User},
    now()
)
</insert>
<select id = "getAll" resultType = "com.project.backend.DTO.BoardDTO">
select * from userboard order by bid desc
</select>

<select id = "getDetail" resultType = "com.project.backend.DTO.BoardDTO">
select * from userboard where bid = #{bid}
</select>
<insert id="postImage">
INSERT INTO react.filename_tbl
(
    bid,
    filename
)
values(
    LAST_INSERT_ID(),
    #{filename}
)
</insert>
<select id = "getAttach" resultType = "String" >
select filename from filename_tbl where bid = #{bid}
</select>
<delete id="deleteAttach">
delete from filename_tbl where bid = #{bid}
</delete>
<update id = "updateBoard">
update userBoard set viewcount = viewcount + 1 where bid = #{bid} 
</update>

<insert id="postComment">
insert into react.user_comment(
    content,username,reg_Date,bid
    )
values(
    #{content},#{username},now(),#{bid}
)
</insert>
<select id = "selectComment" resultType = "com.project.backend.DTO.CommentDTO">
select * from user_comment where bid = #{bid} order by cno desc
</select>

<update id ="updateComment">
update user_comment set content = #{content} where cno = #{cno}
</update>

<delete id ="deleteComment">
delete from user_comment where cno = #{cno}
</delete>
<select id ="selectrandomimage" resultType = "String">
select filename from filename_tbl order by rand() Limit ${LIMIT};
</select>

<select id = "selecttoptenBoard" resultType = "com.project.backend.DTO.BoardDTO">
select * from userBoard order by viewcount desc Limit 10;
</select>

<select id = "dailyBoard" resultType = "com.project.backend.DTO.BoardDTO">
select *,date_format(userBoard.reg_Date,'%Y-%m-%d')as dform from userBoard where DATE(reg_Date) = curdate() order by rand() limit 3
</select>

<select id ="searchBoard" resultType = "com.project.backend.DTO.BoardDTO">
<!-- <bind name="pattern" value="'%' + #{test} + '%'" />
 -->
 select * from userBoard where title Like '%${keyword}%'
</select>
</mapper>