<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.backend.mapper.MapperInterface">

<insert id = "registerBoard">
INSERT INTO react.userboard
(
    title,
    content
)
VALUES (
    #{title},
    #{content}
)
</insert>
<select id = "getAll" resultType = "com.project.backend.DTO.BoardDTO">
select * from userboard order by bid desc
</select>

<select id = "getDetail" resultType = "com.project.backend.DTO.BoardDTO">
select * from userboard where bid = #{bid}
</select>
<insert id="postImage">
INSERT INTO react.filename_tbl
(
    bid,
    filename
)
values(
    LAST_INSERT_ID(),
    #{filename}
)
</insert>
</mapper>