<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.backend.mapper.MapperInterface">
    <select id="MappingTest" resultType="com.project.backend.DTO.UserDTO">
      SELECT 
      username
      , userorg
      , useremail
      , userpassword
      , usermajor
      , userphone
      , userflag
      FROM
      react.react_user
      WHERE useremail = #{Useremail} 
  </select>
</mapper>
